.input_text_element input:focus{
    outline: none;
}
.input_text_template_input_holder{
    border:1px solid black;
    border-radius:2px;
    color:black;
}

/* color scheme blue */
.color_scheme-blue.input_text_template_input_holder ::placeholder{
    color:#d2cece;
}
.color_scheme-blue.input_text_element[input-status='default']{
    color:#7c7c7c;
}
.color_scheme-blue.input_text_element[input-status='default'] .input_text_template_input_holder{
    border-color:#c3aea9;
}
.color_scheme-blue.input_text_element[input-status='valid']{
    color:#2196F3;
}
.color_scheme-blue.input_text_element[input-status='valid'] .input_text_template_input_holder{
    border-color:#2196F3;
}
.color_scheme-blue.input_text_element[input-status='invalid']{
    color:#ce0202;
}
.color_scheme-blue.input_text_element[input-status='invalid'] .input_text_template_input_holder{
    border-color:#ff2a2a;
}
